.layout {
    width: 100%;
    height: 100vh;

    display: grid;

    grid-template-areas:
        "A A A A   A A A A   A A A A"
        "B B C C   C C C C   C C C C"
        "B B C C   C C C C   C C C C"
        "B B C C   C C C C   C C C C"
        "D D D D   D D D D   D D D D";

    .mainGrid {
        grid-area: C;
    }
}