$layoutBackground: rgba($color: #FFF7FA, $alpha: 0.6) !default;

$navbarScrollbarTrack: rgba($color: #151719, $alpha: 0.4) !default;
$navbarScrollbarThumb: rgba($color: #F2F2F2, $alpha: 1) !default;
$navbarScrollbarThumbHover: rgba($color: rgb(255, 255, 255), $alpha: 1) !default;


$routerButton: rgba($color: #FFF3FA, $alpha: 0.5) !default;
$routerButtonHovered: rgba($color: #FFF3FA, $alpha: 0.6) !default;